<div class="modal fade" id="addVideoLinkModal" tabindex="-1" role="dialog" aria-labelledby="addVideoLinkModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informe o identificador do vídeo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <input type="text" class="form-control" id="video_id"></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-add-link-video">Adicionar</button>
        </div>
      </form>
    </div>
  </div>
</div>